@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font-fleur {
  font-family: 'Fleur De Leah', cursive;
}
.font-play {
    font-family: "Playfair Display SC", serif;
}
.font-Jet {
  font-family: "JetBrains Mono", monospace;
}
*{
    font-family: "Poppins", sans-serif;
 font-weight: 400;
}
/* index.css */

/* Card Fade-In */
@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out;
}

/* Text Glow Pulse */
@keyframes glowPulse {
  0%, 100% { text-shadow: 0 0 5px rgba(34, 197, 94, 0.4); }
  50% { text-shadow: 0 0 15px rgba(34, 197, 94, 0.8); }
}

.animate-glow {
  animation: glowPulse 2s infinite ease-in-out;
}
